<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="stylesheet"
	href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
<link href="../static/css/style.css" th:href="@{/css/style.css}"
	rel="stylesheet" type="text/css" />
<meta charset="UTF-8"></meta>
<title>Watching movie</title>
</head>
<body>

	<div id="header">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<a th:href="@{/}"><h1>Videoclub</h1>
						<p>Disfrutar de películas online</p></a>
				</div>
				<div class="col-md-offset-3 col-md-4">
					<h4 class="colorwhite">
						Conectado con la cuenta : <span th:text="${username}"></span>
					</h4>
					<!--<a th:href="@{/logout}">Cerrar Sesión</a> -->
					<form id="logout_form" role="form" th:action="@{/logout}"
						method="post">
						<a style="cursor: pointer;"
							onclick="document.getElementById('logout_form').submit();">Cerrar
							Sesión</a>
					</form>
				</div>
			</div>
		</div>
	</div>

	<div class="page-header">
		<h1>
			Mirando <span th:text="${movie.nombre}"></span>
		</h1>
	</div>

	<center>
		<iframe width="560" height="315" th:src="${movie.url}" frameborder="0"
			allowfullscreen="1"></iframe>
	</center>
</body>
</html>