/*****INITIALISATION*****/
@media ( min-width : 768px) {
	.container {
		width: 750px;
	}
}

@media ( min-width : 992px) {
	.container {
		width: 970px;
	}
}

@media ( min-width : 1200px) {
	.container {
		width: 1170px;
	}
}

h1 {
	font-size: 35px;
}

p {
	font-size: 12px;
}

[class*="col-"] {
	text-align: center;
}

.container {
	padding-right: 1px;
	padding-left: 1px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-right: auto;
	margin-left: auto;
}

h1, h2, h3, h4, h5, ul, li, a, div, p, body {
	margin: 0px;
	padding: 0px; //
	color: white;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
	list-style: none;
	text-decoration: none;
	color: white;
}

a:hover {
	color: red;
	list-style: none;
	text-decoration: none;
	transition-duration: 1s;
}

.alignjustify {
	text-align: justify;
}

.size10 {
	font-size: 10px;
}

.margintop20 {
	margin-top: 20px;
}

.colorwhite {
	color: white;
}

/*****HEADER*****/
#header {
	background: #4a494d;
	height: 61 px;
}

#pseudo {
	width: 239px;
	margin-bottom: 3px;
}

/*****MENU CLIENT******/
.navbar {
	min-height: 30px;
}

.navbarColor {
	background: #4a494d;
	border: 1px solid #4a494d;
	border-top: 1px solid white;
	border-bottom: 1px solid white;
	border-radius: 0px;
}

.navbarColor li {
	width: 33%;
	display: inline-block;
	background: #666;
}

.navbarColor li a {
	padding: 10px;
	display: block;
}
/*****BODY*****/
#inscription {
	padding-top: 100px;
}

.presIndex {
	border: 1px solid black;
	border-radius: 6px;
	background: #DDD;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.6);
	height: 360px;
}

#inscription legend {
	margin-top: 10px;
	padding-bottom: 10px; //
	color: white;
}

#inscription button {
	margin-bottom: 10px;
}

/*****FOOTER*****/
#footer {
	margin-top: 100px;
	height: 30px;
	background: #4a494d;
	border-radius: 6px;
}

.table-description {
	overflow-y: scroll;
	height: 150px;
	max-width: 300px;
	max-height: 150px;
}

.table-image {
	max-height: 150px;
	max-width: 150px;
}

.table-row-movie {
	max-height: 150px;
}

#movie-table {
	table-layout: fixed;
}

.black {
	color: black;
}